@page "/editproject"
@page "/editproject/{id:int}"

@inherits EditProjectBase

@if (ProjectInfo == null)
{
    <p>Loading...</p>
}
else
{ 
    <EditForm Model="ProjectInfo" OnValidSubmit="SubmitProject">

        <div class="card text-center mx-auto" style="width:28rem">
            <div class="card-header">
                <h1 class="card-title">Create a new project</h1>
            </div>
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Project Name</label>
                    <div class="col-md-4">
                        <InputText @bind-Value="ProjectInfo.Name"></InputText>
                    </div>
                </div>
             </div>
            <div class="card-footer">
                <button type="submit">Submit</button>
            </div>
        </div>
    </EditForm>
}