@page "/edituser"
@page "/edituser/{id}"

@inherits EditUserBase
@attribute [Authorize(Roles = "Global Admin")]

@if (UserInfo == null)
{
    <p>Loading.....</p>
}
else
{
    <EditForm Model="UserInfo" OnValidSubmit="SubmitUser" class="mt-5">
        <FluentValidationValidator/>
        <div class="card text-center mx-auto card-width">
            <div class="card-title text-center back bg-info">
                <h1>@Title</h1>
            </div>
            <div class="card-body">
                @if (Id == null)
                {
                    <div class="form-group row">
                        <label class="text-right col-md-3">Username</label>
                        <div class="col-md-9 text-left bg-gradient-dark">
                            <InputText @bind-Value="UserInfo.UserName" class="form-control"></InputText>
                            <ValidationMessage For="() => UserInfo.UserName"></ValidationMessage>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right">Email</label>
                        <div class="col-md-9 text-left">
                            <InputText @bind-Value="UserInfo.Email" type="email" class="form-control"></InputText>
                            <ValidationMessage For="() => UserInfo.Email"></ValidationMessage>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right">Password</label>
                        <div class="col-md-9 text-left">
                            <InputText type="password" @bind-Value="UserInfo.Password" class="form-control"></InputText>
                            <ValidationMessage For="() => UserInfo.Password"></ValidationMessage>
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <label class="col-sm-3 text-right">Role</label>
                    <div class="col-md-9 text-left">
                        <InputSelect @bind-Value="UserInfo.Role" class="form-control">
                            @foreach (var role in Enum.GetValues(typeof(Role)))
                                {
                                <option>@role</option>
                                }
                        </InputSelect>
                        <ValidationMessage For="() => UserInfo.Role"></ValidationMessage>
                    </div>
                </div>
                <div clss="row">
                    <button type="submit" class="btn btn-outline-success">@ButtonText</button>
                </div>
            </div>
        </div>
    </EditForm>
}