@page "/"

@inherits IndexBase

<div class="sticky-top">
    <div class="card text-center mx-auto" style="width: 28rem;">
        <LogEntryForm LogEntry="@LogEntry" OnSubmitLogEntry="SubmitLogEntry"></LogEntryForm>
    </div>
    <div class="card text-center mx-auto mt-5" style="width: 57rem">
        <div class="row form-group mt-2">
            <div class="text-sm-right col-md-1">
                <label class="col-form-label text-info">Startdate:</label>
            </div>
            <div class="col-md-4">
                <input type="date" @bind="LogHistory.StartDate" class="form-control" />
            </div>
            <div class="text-sm-right col-md-2">
                <div class="col-form-label text-info">Enddate:</div>
            </div>
            <div class="col-md-4">
                <input type="date" @bind="LogHistory.EndDate" class="form-control" />
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-success mr-1" @onclick="UpdateViewLogHistory">Go</button>
            </div>
        </div>
        <LogHistoryGridview logHistoryInfoViewModel="LogHistory" @ref="LogView" IsEditable="IsEditable" OnEditLog="EditLogEntry"></LogHistoryGridview>
    </div>
</div>
