@page "/"

@inherits IndexBase

<div class="card text-center mx-auto" style="width: 28rem;">
    <LogEntryForm LogEntry="@LogEntry" OnSubmitLogEntry="SubmitLogEntry"></LogEntryForm>
</div>
<div class="card text-center mx-auto mt-5" style="width: 40rem">
    <div class="row">
        
    </div>
</div>
