@page "/projects"

@inherits ProjectsBase
@attribute [Authorize(Roles = "Global Admin, User Admin")]

<AuthorizeView>
    <Authorized>
        <div class="mt-2">
            <a href="editproject" class="text-primary">Create a new project?</a>
        </div>
        <CustomAutoGrid Items="Projects" Title="@Title" OnEditItem="EditProject" OnDeleteItem="DeleteProject" @ref="GridView"></CustomAutoGrid>
        <AssignUser @ref="AssignUser"></AssignUser>
    </Authorized>
</AuthorizeView>
