@page "/projects"

@inherits ProjectsBase

<div class="mt-2">
    <a href="editproject" class="text-primary">Create a new project?</a>
</div>
<CustomAutoGrid Items="Projects" Title="@Title"></CustomAutoGrid>
<AssignUser></AssignUser>