@page "/users"
@inherits UsersBase

<div class="mt-2">
    <a href="edituser" class="text-primary">Create a new user?</a>
</div>
<CustomAutoGrid Items="Users" Title="@Title" ColumntoExcludeCSV="Password, Id"></CustomAutoGrid>
