@typeparam TItem
@using System.Reflection

@if (memberinfo != null && memberinfo.Length > 0)
{
    <h3 class="text-center text-info">@Title</h3>
    <table class="table-striped col-md-9 text-center mx-auto">
        <thead>
            <tr class="bg-info">
                @foreach (var member in memberinfo)
                {
                    @if (member.MemberType == MemberTypes.Property && !ColumntoExcludeCSV.Contains(member.Name, StringComparison.OrdinalIgnoreCase))
                    {
                        <th class="col-md-auto">@member.Name</th>
                    }
                }
                <th class="col-md-auto">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr class="border">
                    @foreach (var member in memberinfo)
                    {
                        if (member.MemberType == MemberTypes.Property && !ColumntoExcludeCSV.Contains(member.Name, StringComparison.OrdinalIgnoreCase))
                        {
                            <td class="col-md-auto">
                                @item.GetType().GetProperty(member.Name).GetValue(item)
                            </td>
                        }
                    }
                    <td class="text-center col-md-auto">
                        <button type="button" class="btn btn-success btn-sm rounded-pill">
                            <i class="fas fa-edit" @onclick='(()=> Edit(item.GetType().GetProperty("Id").GetValue(item)))'></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm ml-2 rounded-pill"><i class="fas fa-times" @onclick='(()=> Delete(item.GetType().GetProperty("Id").GetValue(item)))'></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    MemberInfo[] memberinfo;
    [Parameter]
    public List<TItem> Items { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string ColumntoExcludeCSV { get; set; }
    [Parameter]
    public EventCallback<string> OnEditItem { get; set; }
    [Parameter]
    public EventCallback<string> OnDeleteItem { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Items != null && Items.Count > 0)
        {
            Type typeOfItem = this.Items[0].GetType();
            memberinfo = typeOfItem.GetMembers();
            ColumntoExcludeCSV = ColumntoExcludeCSV ?? "";
        }
    }

    public void Edit(object id)
    {
        var itemId = Convert.ToString(id);
        OnEditItem.InvokeAsync(itemId);
    }

    public void Delete(object id)
    {
        var itemId = Convert.ToString(id);
        OnDeleteItem.InvokeAsync(itemId);
    }

    public void Refresh()
    {
        StateHasChanged();
    }
}

