@inherits LogEntryFormBase

<EditForm Model="@LogEntry" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="card-title">
        <h2>Entry Form</h2>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-3">
                <label class="control-label text-right">Entry date</label>
            </div>
            <div class="col-md-9">
                <InputDate class="form-control" @bind-Value="LogEntry.EntryDate"></InputDate>
            </div>
        </div>
        <div class="row mt-2 form-group">
            <div class="col-md-3">
                <label class="control-label text-right">Description</label>
            </div>
            <div class="col-md-9">
                <InputTextArea class="form-control" row="4" @bind-Value="LogEntry.Description"></InputTextArea>
            </div>
        </div>
        <div class="row mt-2 form-group">
            <div class="col-md-3 ">
                <label class="control-label text-right">Hours</label>
            </div>
            <div class="col-md-9">
                <InputNumber class="form-control" @bind-Value="LogEntry.Hours"></InputNumber>
            </div>
        </div>
        <div class="row mt-2 form-group">
            <div class="col-md-3">
                <label class="control-label text-right">Minutes</label>
            </div>
            <div class="col-md-9">
                <InputNumber class="form-control" @bind-Value="LogEntry.Minutes"></InputNumber>
            </div>
        </div>
    </div>
    <div classs="card-footer">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</EditForm>

